<!doctype html>
<html lang="en">
  <head>

    <title><%= title %></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">

    <meta name="description" content="Online sign on site for activites">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="%description%">
    <meta property="og:image" content="assets/background.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <script src="https://kit.fontawesome.com/a8132e88a5.js" crossorigin="anonymous" async></script>

    <script>
      const config = JSON.parse('<%= JSON.stringify(htmlWebpackPlugin.options.templateParameters) %>');
    </script>

  </head>

  <body>
        
    <div class="header__border">
        <div class="header__container">
            <header>
                <img id="favicon" alt="Activity Signon's logo"/>
                Activity Signon
            </header>

            <nav aria-labelledby="mainnavigation">
                <h2 id="mainnavigation" class="visuallyhidden">Main Navigation</h2>
                <ul>
                    <li><a href="/" aria-current="page">About</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <main aria-labelledby="sportselection">
        <h1 id="sportselection">Activity Signon by Ethan Bulmer</h1>
        <p>First-in, first-served student activity selection website</p>
        <p>Students log into the website during a set opening window and enrol into the activity of their choice</p>

        <section aria-labelledby="selectionpage">
            <div class="description">
                <h2 id="selectionpage">Signon Made Easy</h2>
                <ul>
                    <li>Students are sent an email containing a link to log into the site</li>
                    <li>Student see the list of activties, sign onto the one they want, and they're done</li>
                    <li>First in first served selection process</li>
                    <li>Customisable themes to make students feel at home</li>
                    <li>Works on mobile devices</li>
                </ul>
            </div>
            <img id="sport_selection_red" alt="Screenshot of selection page"/>
        </section>

        <section aria-labelledby="adminpage">
            <div class="description">
                <h2 id="adminpage">Simple Administration</h2>
                <ul>
                    <li>Simple, cascading design for intuitive use</li>
                    <li>Restrict sports by year level and financial status</li>
                    <li>Bulk import student emails from IDAttend</li>
                    <li>Bulk export sport selections to csv</li>
                    <li>Signons can also be made for teachers</li>
                </ul>
            </div>
            <img id="sport_selection_admin" alt="Screenshot of admin page"/>
        </section>
        
        <section aria-labelledby="specs">
            <div class="description">
                <h2 id="specs">Built with Node.js</h2>
                <ul>
                    <li>Front end built with HTML/CSS/JS</li>
                    <li>Back end built with Node.js</li>
                    <li>Designed to be fast and infinitely scalable</li>
                </ul>
            </div>
            <img id="nodejs" alt="Node.js logo" style="padding: 10px"/>
        </section>
        
        <section aria-labelledby="aws">
            <div class="description">
                <h2 id="aws">Powered by AWS</h2>
                <ul>
                    <li>Highly secure datacenter</li>
                    <li>Designed for redundancy</li>
                    <li>Scales instantly to meet any demand</li>
                </ul>
            </div>
            <img id="aws_logo" alt="Amazon web services logo" style="padding: 10px"/>
        </section>
        
        <section aria-labelledby="demo">
            <div class="center">
                <p>
                    Check out what it's like for a student to select a sport
                </p>
                <a id="demo" class="button demo__button" href="https://sportselection.ethanbulmer.com/?code=0cf6649c9f6c411f0577188c47866c7f:29bd9f5eb0090641fca9d40c8e83407635bcc45a4bc7a054fa93968dbc150564" target="_blank">View the Demo &gt;</a>
            </div>
        </section>

        <section aria-labelledby="pricing">
            <div class="pricing">
                <h2 id="pricing">Pricing</h2>
                <ul>
                    <li>Blazing fast servers</li>
                    <li>Selections any time</li>
                    <li>Unlimited signons</li>
                    <li>Personalised theme</li>
                </ul>
                <div class="price">$0.75<small> /user /year</small></div>
                <a id="start_trial" class="button" href="/admin/#createAccount">Start your 30 day free trial &gt;</a>
            </div>
        </section>

        <section aria-labelledby="policies">
            <div class="center">
                <h2 id="policies" class="visuallyhidden">Privacy policy and terms and conditions</h2>
                <a href="privacy.html">Privacy policy</a> |
                <a href="terms.html">Terms and Conditions</a> |
                <a href="mailto:ethan@ethanbulmer.com?subject=Activity Signon Enquiry">Contact us</a>
                <br/>
                Ethan Bulmer&nbsp;©&nbsp;<script>document.write(new Date().getFullYear())</script>
            </div>
        </section>
    </main>

  </body>
</html>